USE [master]
GO
/****** Object:  Database [WarehouseDB]    Script Date: 3/21/2026 4:56:29 PM ******/
CREATE DATABASE [WarehouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseDB]
GO
/****** Object:  PartitionFunction [pf_audit_by_year]    Script Date: 3/21/2026 4:56:29 PM ******/
CREATE PARTITION FUNCTION [pf_audit_by_year](datetimeoffset(7)) AS RANGE RIGHT FOR VALUES (N'01/01/2024 00:00:00 +00:00', N'01/01/2025 00:00:00 +00:00', N'01/01/2026 00:00:00 +00:00', N'01/01/2027 00:00:00 +00:00')
GO
/****** Object:  PartitionScheme [ps_audit_by_year]    Script Date: 3/21/2026 4:56:29 PM ******/
CREATE PARTITION SCHEME [ps_audit_by_year] AS PARTITION [pf_audit_by_year] TO ([PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY])
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[zone_id] [uniqueidentifier] NULL,
	[qty_on_hand] [decimal](12, 3) NOT NULL,
	[qty_reserved] [decimal](12, 3) NOT NULL,
	[qty_available]  AS ([qty_on_hand]-[qty_reserved]) PERSISTED,
	[qty_incoming] [decimal](12, 3) NOT NULL,
	[avg_cost] [decimal](18, 4) NOT NULL,
	[total_value]  AS ([qty_on_hand]*[avg_cost]) PERSISTED,
	[last_updated] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_inventory] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[warehouse_id] ASC,
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lkp_zone_types]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lkp_zone_types](
	[type_id] [tinyint] NOT NULL,
	[type_code] [varchar](20) NOT NULL,
	[type_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[type_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouses]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouses](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](500) NULL,
	[city] [nvarchar](50) NULL,
	[manager_id] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
	[costing_method] [tinyint] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_zones]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_zones](
	[id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[zone_code] [varchar](20) NOT NULL,
	[zone_name] [nvarchar](100) NULL,
	[zone_type] [tinyint] NOT NULL,
	[capacity_m3] [decimal](10, 2) NULL,
	[capacity_pallet] [int] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_zone] UNIQUE NONCLUSTERED 
(
	[warehouse_id] ASC,
	[zone_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [uniqueidentifier] NOT NULL,
	[category_code] [varchar](20) NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[parent_id] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[units_of_measure]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units_of_measure](
	[id] [uniqueidentifier] NOT NULL,
	[uom_code] [varchar](10) NOT NULL,
	[uom_name] [nvarchar](50) NOT NULL,
	[base_uom_id] [uniqueidentifier] NULL,
	[conversion_factor] [decimal](12, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[uom_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [uniqueidentifier] NOT NULL,
	[sku] [varchar](50) NOT NULL,
	[barcode] [varchar](50) NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[category_id] [uniqueidentifier] NULL,
	[uom_id] [uniqueidentifier] NULL,
	[reorder_point] [decimal](12, 3) NOT NULL,
	[min_stock] [decimal](12, 3) NOT NULL,
	[max_stock] [decimal](12, 3) NULL,
	[safety_stock] [decimal](12, 3) NOT NULL,
	[weight_kg] [decimal](10, 3) NULL,
	[volume_m3] [decimal](10, 6) NULL,
	[shelf_life_days] [int] NULL,
	[is_batch_tracked] [bit] NOT NULL,
	[is_expiry_tracked] [bit] NOT NULL,
	[standard_cost] [decimal](18, 4) NULL,
	[attributes] [nvarchar](max) NULL,
	[image_url] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_inventory_summary]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SECTION 18: VIEWS
-- ============================================================

CREATE   VIEW [dbo].[v_inventory_summary] AS
SELECT
    i.id,
    w.code              AS warehouse_code,
    w.name              AS warehouse_name,
    z.zone_code,
    zt.type_name        AS zone_type,
    p.sku,
    p.product_name,
    c.category_name,
    u.uom_code,
    i.qty_on_hand,
    i.qty_reserved,
    i.qty_available,
    i.qty_incoming,
    i.avg_cost,
    i.total_value,
    CASE
        WHEN i.qty_on_hand = 0                       THEN 'out_of_stock'
        WHEN i.qty_available <= p.min_stock          THEN 'below_min'
        WHEN i.qty_available <= p.reorder_point      THEN 'reorder_needed'
        WHEN p.max_stock IS NOT NULL
             AND i.qty_on_hand > p.max_stock         THEN 'overstock'
        ELSE 'normal'
    END                 AS stock_status,
    i.last_updated
FROM inventory i
JOIN warehouses        w  ON w.id  = i.warehouse_id
JOIN products          p  ON p.id  = i.product_id
LEFT JOIN warehouse_zones z  ON z.id  = i.zone_id
LEFT JOIN lkp_zone_types  zt ON zt.type_id = z.zone_type
LEFT JOIN categories   c  ON c.id  = p.category_id
LEFT JOIN units_of_measure u ON u.id = p.uom_id
WHERE p.is_active = 1;
GO
/****** Object:  Table [dbo].[goods_receipts]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goods_receipts](
	[id] [uniqueidentifier] NOT NULL,
	[grn_number] [varchar](30) NOT NULL,
	[po_id] [uniqueidentifier] NULL,
	[supplier_id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[status_id] [tinyint] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[approved_by] [uniqueidentifier] NULL,
	[approved_at] [datetimeoffset](7) NULL,
	[validated_by] [uniqueidentifier] NULL,
	[validated_at] [datetimeoffset](7) NULL,
	[receipt_date] [date] NOT NULL,
	[supplier_ref] [varchar](50) NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[grn_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goods_receipt_items]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goods_receipt_items](
	[id] [uniqueidentifier] NOT NULL,
	[grn_id] [uniqueidentifier] NOT NULL,
	[po_item_id] [uniqueidentifier] NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[zone_id] [uniqueidentifier] NULL,
	[qty_received] [decimal](12, 3) NOT NULL,
	[qty_accepted] [decimal](12, 3) NOT NULL,
	[qty_rejected] [decimal](12, 3) NOT NULL,
	[batch_number] [varchar](50) NULL,
	[manufacture_date] [date] NULL,
	[expiry_date] [date] NULL,
	[unit_cost] [decimal](18, 4) NOT NULL,
	[line_total]  AS ([qty_accepted]*[unit_cost]) PERSISTED,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_expiring_soon]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_expiring_soon] AS
SELECT
    p.sku,
    p.product_name,
    w.name              AS warehouse_name,
    z.zone_code,
    gri.batch_number,
    gri.expiry_date,
    DATEDIFF(DAY, CAST(GETDATE() AS DATE), gri.expiry_date) AS days_until_expiry,
    SUM(gri.qty_accepted - ISNULL(gri.qty_rejected, 0))     AS qty_at_risk,
    SUM((gri.qty_accepted - ISNULL(gri.qty_rejected, 0)) * gri.unit_cost) AS value_at_risk
FROM goods_receipt_items gri
JOIN goods_receipts    gr ON gr.id = gri.grn_id
JOIN products          p  ON p.id  = gri.product_id
JOIN warehouses        w  ON w.id  = gr.warehouse_id
LEFT JOIN warehouse_zones z ON z.id = gri.zone_id
WHERE
    gri.expiry_date IS NOT NULL
    AND gri.expiry_date <= DATEADD(DAY, 30, CAST(GETDATE() AS DATE))
    AND gri.expiry_date >= CAST(GETDATE() AS DATE)
    AND gr.status_id = 6  -- completed
GROUP BY p.sku, p.product_name, w.name, z.zone_code, gri.batch_number, gri.expiry_date;
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[id] [uniqueidentifier] NOT NULL,
	[supplier_code] [varchar](20) NOT NULL,
	[supplier_name] [nvarchar](150) NOT NULL,
	[tax_code] [varchar](20) NULL,
	[contact_person] [nvarchar](100) NULL,
	[email] [nvarchar](150) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[city] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[lead_time_days] [int] NULL,
	[payment_terms] [nvarchar](100) NULL,
	[rating] [decimal](3, 2) NULL,
	[is_active] [bit] NOT NULL,
	[portal_enabled] [bit] NOT NULL,
	[portal_user_id] [uniqueidentifier] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[supplier_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_orders]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_orders](
	[id] [uniqueidentifier] NOT NULL,
	[po_number] [varchar](30) NOT NULL,
	[supplier_id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[status_id] [tinyint] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[approved_by] [uniqueidentifier] NULL,
	[approved_at] [datetimeoffset](7) NULL,
	[order_date] [date] NOT NULL,
	[expected_date] [date] NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[tax_amount] [decimal](18, 2) NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[currency] [varchar](3) NULL,
	[payment_terms] [nvarchar](100) NULL,
	[source] [varchar](20) NULL,
	[ai_suggestion_id] [uniqueidentifier] NULL,
	[notes] [nvarchar](max) NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[po_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_order_items]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_order_items](
	[id] [uniqueidentifier] NOT NULL,
	[po_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[qty_ordered] [decimal](12, 3) NOT NULL,
	[qty_received] [decimal](12, 3) NOT NULL,
	[qty_rejected] [decimal](12, 3) NOT NULL,
	[unit_cost] [decimal](18, 4) NOT NULL,
	[tax_rate] [decimal](5, 2) NULL,
	[line_total]  AS ([qty_ordered]*[unit_cost]) PERSISTED,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_po_item] UNIQUE NONCLUSTERED 
(
	[po_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_pending_po_receipts]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_pending_po_receipts] AS
SELECT
    po.po_number,
    s.supplier_name,
    po.expected_date,
    DATEDIFF(DAY, po.expected_date, CAST(GETDATE() AS DATE)) AS days_overdue,
    p.sku,
    p.product_name,
    poi.qty_ordered,
    poi.qty_received,
    poi.qty_ordered - poi.qty_received                       AS qty_outstanding,
    poi.unit_cost,
    (poi.qty_ordered - poi.qty_received) * poi.unit_cost     AS outstanding_value
FROM purchase_orders po
JOIN purchase_order_items poi ON poi.po_id = po.id
JOIN suppliers  s ON s.id = po.supplier_id
JOIN products   p ON p.id = poi.product_id
WHERE
    po.status_id = 3  -- approved
    AND poi.qty_received < poi.qty_ordered;
GO
/****** Object:  View [dbo].[v_supplier_performance]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_supplier_performance] AS
SELECT
    s.supplier_code,
    s.supplier_name,
    COUNT(DISTINCT po.id)                                    AS total_pos,
    COUNT(DISTINCT gr.id)                                    AS total_grns,
    AVG(CAST(DATEDIFF(DAY, po.expected_date, gr.receipt_date) AS FLOAT)) AS avg_delay_days,
    SUM(poi.qty_received)                                    AS total_qty_received,
    SUM(poi.qty_rejected)                                    AS total_qty_rejected,
    ROUND(100.0 * SUM(poi.qty_rejected)
          / NULLIF(SUM(poi.qty_received + poi.qty_rejected), 0), 2) AS rejection_rate_pct,
    SUM(poi.qty_received * poi.unit_cost)                    AS total_purchase_value
FROM suppliers s
LEFT JOIN purchase_orders po     ON po.supplier_id = s.id AND po.status_id = 6
LEFT JOIN goods_receipts  gr     ON gr.po_id = po.id AND gr.status_id = 6
LEFT JOIN purchase_order_items poi ON poi.po_id = po.id
GROUP BY s.supplier_code, s.supplier_name;
GO
/****** Object:  Table [dbo].[ai_anomaly_logs]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_anomaly_logs](
	[id] [uniqueidentifier] NOT NULL,
	[anomaly_type] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[severity_id] [tinyint] NOT NULL,
	[anomaly_score] [decimal](5, 4) NULL,
	[ref_type] [varchar](30) NULL,
	[ref_id] [uniqueidentifier] NULL,
	[ref_table] [varchar](50) NULL,
	[affected_user_id] [uniqueidentifier] NULL,
	[status] [varchar](20) NOT NULL,
	[assigned_to] [uniqueidentifier] NULL,
	[resolution_note] [nvarchar](max) NULL,
	[resolved_at] [datetimeoffset](7) NULL,
	[model_version] [varchar](20) NULL,
	[detected_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_chat_sessions]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_chat_sessions](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[session_title] [nvarchar](200) NULL,
	[messages] [nvarchar](max) NOT NULL,
	[context] [nvarchar](max) NULL,
	[token_count] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_forecasts]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_forecasts](
	[id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[forecast_date] [date] NOT NULL,
	[forecast_period] [varchar](10) NOT NULL,
	[predicted_demand] [decimal](12, 3) NOT NULL,
	[predicted_min] [decimal](12, 3) NULL,
	[predicted_max] [decimal](12, 3) NULL,
	[confidence_score] [decimal](5, 4) NULL,
	[model_name] [varchar](50) NOT NULL,
	[model_version] [varchar](20) NOT NULL,
	[features_used] [nvarchar](max) NULL,
	[actual_demand] [decimal](12, 3) NULL,
	[mape_error] [decimal](6, 4) NULL,
	[generated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_forecast] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[warehouse_id] ASC,
	[forecast_date] ASC,
	[forecast_period] ASC,
	[model_version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_model_versions]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_model_versions](
	[id] [uniqueidentifier] NOT NULL,
	[model_name] [varchar](50) NOT NULL,
	[version] [varchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
	[accuracy_score] [decimal](6, 4) NULL,
	[mape_score] [decimal](6, 4) NULL,
	[training_date] [date] NULL,
	[training_records] [int] NULL,
	[is_active] [bit] NOT NULL,
	[deployed_at] [datetimeoffset](7) NULL,
	[deprecated_at] [datetimeoffset](7) NULL,
	[config] [nvarchar](max) NULL,
	[created_by] [uniqueidentifier] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_model_version] UNIQUE NONCLUSTERED 
(
	[model_name] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_reorder_suggestions]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_reorder_suggestions](
	[id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[supplier_id] [uniqueidentifier] NULL,
	[suggested_qty] [decimal](12, 3) NOT NULL,
	[suggested_date] [date] NULL,
	[trigger_reason] [nvarchar](max) NOT NULL,
	[qty_on_hand] [decimal](12, 3) NOT NULL,
	[reorder_point] [decimal](12, 3) NOT NULL,
	[days_of_stock] [decimal](8, 2) NULL,
	[status] [varchar](20) NOT NULL,
	[approved_by] [uniqueidentifier] NULL,
	[approved_at] [datetimeoffset](7) NULL,
	[po_id] [uniqueidentifier] NULL,
	[rejection_note] [nvarchar](max) NULL,
	[model_version] [varchar](20) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 3/21/2026 4:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[user_name] [nvarchar](100) NULL,
	[action] [varchar](20) NOT NULL,
	[table_name] [varchar](50) NOT NULL,
	[record_id] [uniqueidentifier] NULL,
	[old_values] [nvarchar](max) NULL,
	[new_values] [nvarchar](max) NULL,
	[changed_fields] [nvarchar](max) NULL,
	[ip_address] [varchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[request_id] [varchar](50) NULL,
	[logged_at] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_audit_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[logged_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_audit_by_year]([logged_at])
) ON [ps_audit_by_year]([logged_at])
GO
/****** Object:  Table [dbo].[customers]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [uniqueidentifier] NOT NULL,
	[customer_code] [varchar](20) NOT NULL,
	[customer_name] [nvarchar](150) NOT NULL,
	[tax_code] [varchar](20) NULL,
	[contact_person] [nvarchar](100) NULL,
	[email] [nvarchar](150) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[city] [nvarchar](50) NULL,
	[customer_type] [varchar](20) NULL,
	[credit_limit] [decimal](18, 2) NULL,
	[payment_terms] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[customer_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery_orders]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery_orders](
	[id] [uniqueidentifier] NOT NULL,
	[do_number] [varchar](30) NOT NULL,
	[gi_id] [uniqueidentifier] NOT NULL,
	[so_id] [uniqueidentifier] NULL,
	[customer_id] [uniqueidentifier] NULL,
	[status_id] [tinyint] NOT NULL,
	[assigned_to] [uniqueidentifier] NULL,
	[vehicle_info] [nvarchar](100) NULL,
	[carrier_name] [nvarchar](100) NULL,
	[tracking_number] [nvarchar](100) NULL,
	[delivery_address] [nvarchar](500) NOT NULL,
	[contact_person] [nvarchar](100) NULL,
	[contact_phone] [varchar](20) NULL,
	[planned_date] [date] NOT NULL,
	[actual_date] [date] NULL,
	[delivered_at] [datetimeoffset](7) NULL,
	[recipient_name] [nvarchar](100) NULL,
	[delivery_proof] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[failure_reason] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[do_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document_sequences]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document_sequences](
	[prefix] [varchar](10) NOT NULL,
	[current_number] [int] NOT NULL,
	[seq_year] [int] NOT NULL,
	[format_template] [varchar](50) NOT NULL,
 CONSTRAINT [PK_doc_seq] PRIMARY KEY CLUSTERED 
(
	[prefix] ASC,
	[seq_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goods_issue_items]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goods_issue_items](
	[id] [uniqueidentifier] NOT NULL,
	[gi_id] [uniqueidentifier] NOT NULL,
	[so_item_id] [uniqueidentifier] NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[zone_id] [uniqueidentifier] NULL,
	[qty_requested] [decimal](12, 3) NOT NULL,
	[qty_issued] [decimal](12, 3) NOT NULL,
	[batch_number] [varchar](50) NULL,
	[expiry_date] [date] NULL,
	[unit_cost] [decimal](18, 4) NOT NULL,
	[unit_price] [decimal](18, 4) NULL,
	[line_total]  AS ([qty_issued]*[unit_cost]) PERSISTED,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goods_issues]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goods_issues](
	[id] [uniqueidentifier] NOT NULL,
	[gi_number] [varchar](30) NOT NULL,
	[so_id] [uniqueidentifier] NULL,
	[customer_id] [uniqueidentifier] NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[status_id] [tinyint] NOT NULL,
	[issue_type] [varchar](20) NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[approved_by] [uniqueidentifier] NULL,
	[approved_at] [datetimeoffset](7) NULL,
	[issue_date] [date] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[reason] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[gi_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lkp_anomaly_severity]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lkp_anomaly_severity](
	[severity_id] [tinyint] NOT NULL,
	[severity_code] [varchar](10) NOT NULL,
	[severity_name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[severity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[severity_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lkp_costing_methods]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lkp_costing_methods](
	[method_id] [tinyint] NOT NULL,
	[method_code] [varchar](20) NOT NULL,
	[method_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[method_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lkp_delivery_status]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lkp_delivery_status](
	[status_id] [tinyint] NOT NULL,
	[status_code] [varchar](20) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lkp_document_status]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lkp_document_status](
	[status_id] [tinyint] NOT NULL,
	[status_code] [varchar](20) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lkp_schedule_types]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lkp_schedule_types](
	[type_id] [tinyint] NOT NULL,
	[type_code] [varchar](30) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[type_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lkp_transaction_types]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lkp_transaction_types](
	[type_id] [tinyint] NOT NULL,
	[type_code] [varchar](30) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[type_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lkp_user_roles]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lkp_user_roles](
	[role_id] [tinyint] NOT NULL,
	[role_code] [varchar](30) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[channel] [varchar](10) NOT NULL,
	[ref_type] [varchar](30) NULL,
	[ref_id] [uniqueidentifier] NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetimeoffset](7) NULL,
	[sent_at] [datetimeoffset](7) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_order_items]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_order_items](
	[id] [uniqueidentifier] NOT NULL,
	[so_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[qty_ordered] [decimal](12, 3) NOT NULL,
	[qty_allocated] [decimal](12, 3) NOT NULL,
	[qty_delivered] [decimal](12, 3) NOT NULL,
	[unit_price] [decimal](18, 4) NOT NULL,
	[tax_rate] [decimal](5, 2) NULL,
	[discount_pct] [decimal](5, 2) NULL,
	[line_total]  AS ([qty_ordered]*[unit_price]) PERSISTED,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_so_item] UNIQUE NONCLUSTERED 
(
	[so_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_orders]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_orders](
	[id] [uniqueidentifier] NOT NULL,
	[so_number] [varchar](30) NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[status_id] [tinyint] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[approved_by] [uniqueidentifier] NULL,
	[approved_at] [datetimeoffset](7) NULL,
	[order_date] [date] NOT NULL,
	[required_date] [date] NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[tax_amount] [decimal](18, 2) NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[currency] [varchar](3) NULL,
	[payment_terms] [nvarchar](100) NULL,
	[shipping_address] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[so_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[schedule_type] [tinyint] NOT NULL,
	[status_code] [varchar](20) NOT NULL,
	[ref_type] [varchar](30) NULL,
	[ref_id] [uniqueidentifier] NULL,
	[warehouse_id] [uniqueidentifier] NULL,
	[start_time] [datetimeoffset](7) NOT NULL,
	[end_time] [datetimeoffset](7) NULL,
	[is_recurring] [bit] NOT NULL,
	[recurrence_rule] [varchar](200) NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[assigned_to] [uniqueidentifier] NULL,
	[reminder_minutes] [int] NULL,
	[description] [nvarchar](max) NULL,
	[metadata] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_adjustment_items]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_adjustment_items](
	[id] [uniqueidentifier] NOT NULL,
	[adj_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[zone_id] [uniqueidentifier] NULL,
	[batch_number] [varchar](50) NULL,
	[qty_before] [decimal](12, 3) NOT NULL,
	[qty_change] [decimal](12, 3) NOT NULL,
	[qty_after]  AS ([qty_before]+[qty_change]) PERSISTED,
	[unit_cost] [decimal](18, 4) NOT NULL,
	[value_change]  AS ([qty_change]*[unit_cost]) PERSISTED,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_adjustments]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_adjustments](
	[id] [uniqueidentifier] NOT NULL,
	[adj_number] [varchar](30) NOT NULL,
	[session_id] [uniqueidentifier] NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[status_id] [tinyint] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[approved_by] [uniqueidentifier] NULL,
	[approved_at] [datetimeoffset](7) NULL,
	[validated_by] [uniqueidentifier] NULL,
	[validated_at] [datetimeoffset](7) NULL,
	[reason] [nvarchar](200) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[adj_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_count_items]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_count_items](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[zone_id] [uniqueidentifier] NULL,
	[batch_number] [varchar](50) NULL,
	[qty_system] [decimal](12, 3) NOT NULL,
	[qty_counted] [decimal](12, 3) NULL,
	[qty_variance]  AS (case when [qty_counted] IS NOT NULL then [qty_counted]-[qty_system]  end) PERSISTED,
	[unit_cost] [decimal](18, 4) NOT NULL,
	[variance_value]  AS (case when [qty_counted] IS NOT NULL then ([qty_counted]-[qty_system])*[unit_cost]  end) PERSISTED,
	[counted_at] [datetimeoffset](7) NULL,
	[counted_by] [uniqueidentifier] NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_count_sessions]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_count_sessions](
	[id] [uniqueidentifier] NOT NULL,
	[session_code] [varchar](30) NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[zone_id] [uniqueidentifier] NULL,
	[status_id] [tinyint] NOT NULL,
	[count_type] [varchar](20) NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[assigned_to] [uniqueidentifier] NULL,
	[approved_by] [uniqueidentifier] NULL,
	[approved_at] [datetimeoffset](7) NULL,
	[planned_date] [date] NOT NULL,
	[started_at] [datetimeoffset](7) NULL,
	[completed_at] [datetimeoffset](7) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[session_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_transactions]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_transactions](
	[id] [uniqueidentifier] NOT NULL,
	[txn_code] [varchar](30) NOT NULL,
	[txn_type_id] [tinyint] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[zone_id] [uniqueidentifier] NULL,
	[qty_change] [decimal](12, 3) NOT NULL,
	[qty_balance] [decimal](12, 3) NOT NULL,
	[unit_cost] [decimal](18, 4) NOT NULL,
	[total_value]  AS (abs([qty_change])*[unit_cost]) PERSISTED,
	[batch_number] [varchar](50) NULL,
	[expiry_date] [date] NULL,
	[ref_type] [varchar](30) NULL,
	[ref_id] [uniqueidentifier] NULL,
	[ref_item_id] [uniqueidentifier] NULL,
	[performed_by] [uniqueidentifier] NOT NULL,
	[txn_at] [datetimeoffset](7) NOT NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[txn_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_transfer_items]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_transfer_items](
	[id] [uniqueidentifier] NOT NULL,
	[transfer_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[batch_number] [varchar](50) NULL,
	[qty_requested] [decimal](12, 3) NOT NULL,
	[qty_transferred] [decimal](12, 3) NOT NULL,
	[unit_cost] [decimal](18, 4) NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_transfers]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_transfers](
	[id] [uniqueidentifier] NOT NULL,
	[transfer_number] [varchar](30) NOT NULL,
	[from_warehouse_id] [uniqueidentifier] NOT NULL,
	[from_zone_id] [uniqueidentifier] NULL,
	[to_warehouse_id] [uniqueidentifier] NOT NULL,
	[to_zone_id] [uniqueidentifier] NULL,
	[status_id] [tinyint] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[approved_by] [uniqueidentifier] NULL,
	[approved_at] [datetimeoffset](7) NULL,
	[transfer_date] [date] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[transfer_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[staff_code] [varchar](20) NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[phone] [varchar](20) NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[role_id] [tinyint] NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login_at] [datetimeoffset](7) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[staff_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_products_barcode]    Script Date: 3/21/2026 4:56:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_barcode] ON [dbo].[products]
(
	[barcode] ASC
)
WHERE ([barcode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_category]    Script Date: 3/21/2026 4:56:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_category] ON [dbo].[products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_products_name]    Script Date: 3/21/2026 4:56:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_name] ON [dbo].[products]
(
	[product_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_products_sku]    Script Date: 3/21/2026 4:56:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_sku] ON [dbo].[products]
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_users_active]    Script Date: 3/21/2026 4:56:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_users_active] ON [dbo].[users]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_email]    Script Date: 3/21/2026 4:56:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_users_role]    Script Date: 3/21/2026 4:56:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_users_role] ON [dbo].[users]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ai_anomaly_logs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ai_anomaly_logs] ADD  DEFAULT ((2)) FOR [severity_id]
GO
ALTER TABLE [dbo].[ai_anomaly_logs] ADD  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[ai_anomaly_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [detected_at]
GO
ALTER TABLE [dbo].[ai_chat_sessions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ai_chat_sessions] ADD  DEFAULT ('[]') FOR [messages]
GO
ALTER TABLE [dbo].[ai_chat_sessions] ADD  DEFAULT ((0)) FOR [token_count]
GO
ALTER TABLE [dbo].[ai_chat_sessions] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[ai_chat_sessions] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ai_forecasts] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ai_forecasts] ADD  DEFAULT ('weekly') FOR [forecast_period]
GO
ALTER TABLE [dbo].[ai_forecasts] ADD  DEFAULT ('default') FOR [model_name]
GO
ALTER TABLE [dbo].[ai_forecasts] ADD  DEFAULT (sysdatetimeoffset()) FOR [generated_at]
GO
ALTER TABLE [dbo].[ai_model_versions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ai_model_versions] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[ai_model_versions] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[ai_reorder_suggestions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ai_reorder_suggestions] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[ai_reorder_suggestions] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [logged_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ('retail') FOR [customer_type]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[delivery_orders] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[delivery_orders] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[delivery_orders] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[delivery_orders] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[document_sequences] ADD  DEFAULT ((0)) FOR [current_number]
GO
ALTER TABLE [dbo].[document_sequences] ADD  DEFAULT (datepart(year,getdate())) FOR [seq_year]
GO
ALTER TABLE [dbo].[document_sequences] ADD  DEFAULT ('{PREFIX}-{YYYY}-{NNNNN}') FOR [format_template]
GO
ALTER TABLE [dbo].[goods_issue_items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[goods_issue_items] ADD  DEFAULT ((0)) FOR [qty_issued]
GO
ALTER TABLE [dbo].[goods_issue_items] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[goods_issue_items] ADD  DEFAULT ((0)) FOR [unit_price]
GO
ALTER TABLE [dbo].[goods_issues] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[goods_issues] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[goods_issues] ADD  DEFAULT ('sale') FOR [issue_type]
GO
ALTER TABLE [dbo].[goods_issues] ADD  DEFAULT (CONVERT([date],getdate())) FOR [issue_date]
GO
ALTER TABLE [dbo].[goods_issues] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[goods_issues] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[goods_issues] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[goods_receipt_items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[goods_receipt_items] ADD  DEFAULT ((0)) FOR [qty_accepted]
GO
ALTER TABLE [dbo].[goods_receipt_items] ADD  DEFAULT ((0)) FOR [qty_rejected]
GO
ALTER TABLE [dbo].[goods_receipts] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[goods_receipts] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[goods_receipts] ADD  DEFAULT (CONVERT([date],getdate())) FOR [receipt_date]
GO
ALTER TABLE [dbo].[goods_receipts] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[goods_receipts] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[goods_receipts] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [qty_on_hand]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [qty_reserved]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [qty_incoming]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [avg_cost]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT (sysdatetimeoffset()) FOR [last_updated]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('in_app') FOR [channel]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [reorder_point]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [min_stock]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [safety_stock]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_batch_tracked]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_expiry_tracked]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [standard_cost]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[purchase_order_items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[purchase_order_items] ADD  DEFAULT ((0)) FOR [qty_received]
GO
ALTER TABLE [dbo].[purchase_order_items] ADD  DEFAULT ((0)) FOR [qty_rejected]
GO
ALTER TABLE [dbo].[purchase_order_items] ADD  DEFAULT ((0)) FOR [tax_rate]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT (CONVERT([date],getdate())) FOR [order_date]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ('manual') FOR [source]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sales_order_items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[sales_order_items] ADD  DEFAULT ((0)) FOR [qty_allocated]
GO
ALTER TABLE [dbo].[sales_order_items] ADD  DEFAULT ((0)) FOR [qty_delivered]
GO
ALTER TABLE [dbo].[sales_order_items] ADD  DEFAULT ((0)) FOR [tax_rate]
GO
ALTER TABLE [dbo].[sales_order_items] ADD  DEFAULT ((0)) FOR [discount_pct]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT (CONVERT([date],getdate())) FOR [order_date]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[sales_orders] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ('scheduled') FOR [status_code]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ((0)) FOR [is_recurring]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ((30)) FOR [reminder_minutes]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[stock_adjustment_items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[stock_adjustment_items] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[stock_adjustments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[stock_adjustments] ADD  DEFAULT ((2)) FOR [status_id]
GO
ALTER TABLE [dbo].[stock_adjustments] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[stock_count_items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[stock_count_items] ADD  DEFAULT ((0)) FOR [qty_system]
GO
ALTER TABLE [dbo].[stock_count_items] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[stock_count_sessions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[stock_count_sessions] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[stock_count_sessions] ADD  DEFAULT ('full') FOR [count_type]
GO
ALTER TABLE [dbo].[stock_count_sessions] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[stock_transactions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[stock_transactions] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[stock_transactions] ADD  DEFAULT (sysdatetimeoffset()) FOR [txn_at]
GO
ALTER TABLE [dbo].[stock_transfer_items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[stock_transfer_items] ADD  DEFAULT ((0)) FOR [qty_transferred]
GO
ALTER TABLE [dbo].[stock_transfer_items] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[stock_transfers] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[stock_transfers] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[stock_transfers] ADD  DEFAULT (CONVERT([date],getdate())) FOR [transfer_date]
GO
ALTER TABLE [dbo].[stock_transfers] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT (N'Vietnam') FOR [country]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT ((7)) FOR [lead_time_days]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT ((0)) FOR [portal_enabled]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[units_of_measure] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[units_of_measure] ADD  DEFAULT ((1)) FOR [conversion_factor]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((3)) FOR [role_id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[warehouse_zones] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[warehouse_zones] ADD  DEFAULT ((1)) FOR [zone_type]
GO
ALTER TABLE [dbo].[warehouse_zones] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT ((1)) FOR [costing_method]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouses] ADD  DEFAULT (sysdatetimeoffset()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ai_anomaly_logs]  WITH CHECK ADD FOREIGN KEY([affected_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ai_anomaly_logs]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ai_anomaly_logs]  WITH CHECK ADD FOREIGN KEY([severity_id])
REFERENCES [dbo].[lkp_anomaly_severity] ([severity_id])
GO
ALTER TABLE [dbo].[ai_chat_sessions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ai_forecasts]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[ai_forecasts]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[ai_model_versions]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ai_reorder_suggestions]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ai_reorder_suggestions]  WITH CHECK ADD FOREIGN KEY([po_id])
REFERENCES [dbo].[purchase_orders] ([id])
GO
ALTER TABLE [dbo].[ai_reorder_suggestions]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[ai_reorder_suggestions]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[ai_reorder_suggestions]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[categories]  WITH NOCHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[delivery_orders]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[delivery_orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[delivery_orders]  WITH CHECK ADD FOREIGN KEY([gi_id])
REFERENCES [dbo].[goods_issues] ([id])
GO
ALTER TABLE [dbo].[delivery_orders]  WITH CHECK ADD FOREIGN KEY([so_id])
REFERENCES [dbo].[sales_orders] ([id])
GO
ALTER TABLE [dbo].[delivery_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[lkp_delivery_status] ([status_id])
GO
ALTER TABLE [dbo].[goods_issue_items]  WITH CHECK ADD FOREIGN KEY([gi_id])
REFERENCES [dbo].[goods_issues] ([id])
GO
ALTER TABLE [dbo].[goods_issue_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[goods_issue_items]  WITH CHECK ADD FOREIGN KEY([so_item_id])
REFERENCES [dbo].[sales_order_items] ([id])
GO
ALTER TABLE [dbo].[goods_issue_items]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[goods_issues]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[goods_issues]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[goods_issues]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[goods_issues]  WITH CHECK ADD FOREIGN KEY([so_id])
REFERENCES [dbo].[sales_orders] ([id])
GO
ALTER TABLE [dbo].[goods_issues]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[lkp_document_status] ([status_id])
GO
ALTER TABLE [dbo].[goods_issues]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[goods_receipt_items]  WITH CHECK ADD FOREIGN KEY([grn_id])
REFERENCES [dbo].[goods_receipts] ([id])
GO
ALTER TABLE [dbo].[goods_receipt_items]  WITH CHECK ADD FOREIGN KEY([po_item_id])
REFERENCES [dbo].[purchase_order_items] ([id])
GO
ALTER TABLE [dbo].[goods_receipt_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[goods_receipt_items]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[goods_receipts]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[goods_receipts]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[goods_receipts]  WITH CHECK ADD FOREIGN KEY([po_id])
REFERENCES [dbo].[purchase_orders] ([id])
GO
ALTER TABLE [dbo].[goods_receipts]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[lkp_document_status] ([status_id])
GO
ALTER TABLE [dbo].[goods_receipts]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[goods_receipts]  WITH CHECK ADD FOREIGN KEY([validated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[goods_receipts]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([uom_id])
REFERENCES [dbo].[units_of_measure] ([id])
GO
ALTER TABLE [dbo].[purchase_order_items]  WITH CHECK ADD FOREIGN KEY([po_id])
REFERENCES [dbo].[purchase_orders] ([id])
GO
ALTER TABLE [dbo].[purchase_order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[lkp_document_status] ([status_id])
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[sales_order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[sales_order_items]  WITH CHECK ADD FOREIGN KEY([so_id])
REFERENCES [dbo].[sales_orders] ([id])
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[lkp_document_status] ([status_id])
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD FOREIGN KEY([schedule_type])
REFERENCES [dbo].[lkp_schedule_types] ([type_id])
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[stock_adjustment_items]  WITH CHECK ADD FOREIGN KEY([adj_id])
REFERENCES [dbo].[stock_adjustments] ([id])
GO
ALTER TABLE [dbo].[stock_adjustment_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[stock_adjustment_items]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[stock_adjustments]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_adjustments]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_adjustments]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[stock_count_sessions] ([id])
GO
ALTER TABLE [dbo].[stock_adjustments]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[lkp_document_status] ([status_id])
GO
ALTER TABLE [dbo].[stock_adjustments]  WITH CHECK ADD FOREIGN KEY([validated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_adjustments]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[stock_count_items]  WITH CHECK ADD FOREIGN KEY([counted_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_count_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[stock_count_items]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[stock_count_sessions] ([id])
GO
ALTER TABLE [dbo].[stock_count_items]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[stock_count_sessions]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_count_sessions]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_count_sessions]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_count_sessions]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[lkp_document_status] ([status_id])
GO
ALTER TABLE [dbo].[stock_count_sessions]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[stock_count_sessions]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD FOREIGN KEY([performed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD FOREIGN KEY([txn_type_id])
REFERENCES [dbo].[lkp_transaction_types] ([type_id])
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[stock_transfer_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[stock_transfer_items]  WITH CHECK ADD FOREIGN KEY([transfer_id])
REFERENCES [dbo].[stock_transfers] ([id])
GO
ALTER TABLE [dbo].[stock_transfers]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_transfers]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[stock_transfers]  WITH CHECK ADD FOREIGN KEY([from_warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[stock_transfers]  WITH CHECK ADD FOREIGN KEY([from_zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[stock_transfers]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[lkp_document_status] ([status_id])
GO
ALTER TABLE [dbo].[stock_transfers]  WITH CHECK ADD FOREIGN KEY([to_warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[stock_transfers]  WITH CHECK ADD FOREIGN KEY([to_zone_id])
REFERENCES [dbo].[warehouse_zones] ([id])
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD FOREIGN KEY([portal_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[units_of_measure]  WITH CHECK ADD FOREIGN KEY([base_uom_id])
REFERENCES [dbo].[units_of_measure] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[lkp_user_roles] ([role_id])
GO
ALTER TABLE [dbo].[warehouse_zones]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([id])
GO
ALTER TABLE [dbo].[warehouse_zones]  WITH CHECK ADD FOREIGN KEY([zone_type])
REFERENCES [dbo].[lkp_zone_types] ([type_id])
GO
ALTER TABLE [dbo].[warehouses]  WITH CHECK ADD FOREIGN KEY([costing_method])
REFERENCES [dbo].[lkp_costing_methods] ([method_id])
GO
ALTER TABLE [dbo].[warehouses]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ai_anomaly_logs]  WITH CHECK ADD CHECK  (([anomaly_score]>=(0) AND [anomaly_score]<=(1)))
GO
ALTER TABLE [dbo].[ai_anomaly_logs]  WITH CHECK ADD CHECK  (([status]='dismissed' OR [status]='resolved' OR [status]='investigating' OR [status]='open'))
GO
ALTER TABLE [dbo].[ai_chat_sessions]  WITH CHECK ADD  CONSTRAINT [CHK_chat_messages] CHECK  ((isjson([messages])=(1)))
GO
ALTER TABLE [dbo].[ai_chat_sessions] CHECK CONSTRAINT [CHK_chat_messages]
GO
ALTER TABLE [dbo].[ai_forecasts]  WITH CHECK ADD CHECK  (([confidence_score]>=(0) AND [confidence_score]<=(1)))
GO
ALTER TABLE [dbo].[ai_forecasts]  WITH CHECK ADD CHECK  (([forecast_period]='monthly' OR [forecast_period]='weekly' OR [forecast_period]='daily'))
GO
ALTER TABLE [dbo].[ai_forecasts]  WITH CHECK ADD  CONSTRAINT [CHK_forecast_features] CHECK  (([features_used] IS NULL OR isjson([features_used])=(1)))
GO
ALTER TABLE [dbo].[ai_forecasts] CHECK CONSTRAINT [CHK_forecast_features]
GO
ALTER TABLE [dbo].[ai_reorder_suggestions]  WITH CHECK ADD CHECK  (([status]='po_created' OR [status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD CHECK  (([customer_type]='internal' OR [customer_type]='wholesale' OR [customer_type]='retail'))
GO
ALTER TABLE [dbo].[goods_issue_items]  WITH CHECK ADD CHECK  (([qty_requested]>(0)))
GO
ALTER TABLE [dbo].[goods_issues]  WITH CHECK ADD CHECK  (([issue_type]='return' OR [issue_type]='sample' OR [issue_type]='internal' OR [issue_type]='sale'))
GO
ALTER TABLE [dbo].[goods_receipt_items]  WITH CHECK ADD CHECK  (([qty_received]>=(0)))
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [CHK_qty_non_negative] CHECK  (([qty_on_hand]>=(0)))
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [CHK_qty_non_negative]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [CHK_reserved_non_negative] CHECK  (([qty_reserved]>=(0)))
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [CHK_reserved_non_negative]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD CHECK  (([channel]='push' OR [channel]='email' OR [channel]='in_app'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [CHK_products_attributes] CHECK  (([attributes] IS NULL OR isjson([attributes])=(1)))
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [CHK_products_attributes]
GO
ALTER TABLE [dbo].[purchase_order_items]  WITH CHECK ADD CHECK  (([qty_ordered]>(0)))
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD CHECK  (([source]='ai_suggested' OR [source]='manual'))
GO
ALTER TABLE [dbo].[sales_order_items]  WITH CHECK ADD CHECK  (([qty_ordered]>(0)))
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD CHECK  (([status_code]='cancelled' OR [status_code]='missed' OR [status_code]='done' OR [status_code]='in_progress' OR [status_code]='scheduled'))
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [CHK_schedule_metadata] CHECK  (([metadata] IS NULL OR isjson([metadata])=(1)))
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [CHK_schedule_metadata]
GO
ALTER TABLE [dbo].[stock_count_sessions]  WITH CHECK ADD CHECK  (([count_type]='spot' OR [count_type]='cycle' OR [count_type]='full'))
GO
ALTER TABLE [dbo].[stock_transfer_items]  WITH CHECK ADD CHECK  (([qty_requested]>(0)))
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_get_stock]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Lấy tồn kho 1 sản phẩm
CREATE   PROCEDURE [dbo].[sp_get_stock]
    @product_id   UNIQUEIDENTIFIER,
    @warehouse_id UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        w.name          AS warehouse_name,
        z.zone_code,
        i.qty_on_hand,
        i.qty_available,
        i.avg_cost,
        i.total_value
    FROM inventory i
    JOIN warehouses w ON w.id = i.warehouse_id
    LEFT JOIN warehouse_zones z ON z.id = i.zone_id
    WHERE i.product_id = @product_id
      AND (@warehouse_id IS NULL OR i.warehouse_id = @warehouse_id)
    ORDER BY i.qty_available DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_next_document_number]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_next_document_number]
    @prefix  VARCHAR(10),
    @result  VARCHAR(30) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @cur_year   INT          = YEAR(GETDATE());
    DECLARE @new_num    INT;
    DECLARE @template   VARCHAR(50);

    -- Khai báo table variable TRƯỚC khi dùng
    DECLARE @output_table TABLE (num INT, tmpl VARCHAR(50));

    -- Tạo record mới nếu sang năm mới
    IF NOT EXISTS (
        SELECT 1 FROM document_sequences
        WHERE prefix = @prefix AND seq_year = @cur_year
    )
    BEGIN
        DECLARE @old_template VARCHAR(50);
        SELECT @old_template = format_template
        FROM document_sequences
        WHERE prefix = @prefix AND seq_year = @cur_year - 1;

        INSERT INTO document_sequences (prefix, current_number, seq_year, format_template)
        VALUES (@prefix, 0, @cur_year,
                ISNULL(@old_template, @prefix + '-{YYYY}-{NNNNN}'));
    END

    -- Atomic increment — thread-safe
    UPDATE document_sequences
    SET current_number = current_number + 1
    OUTPUT INSERTED.current_number, INSERTED.format_template
    INTO @output_table (num, tmpl)
    WHERE prefix = @prefix AND seq_year = @cur_year;

    -- Lấy kết quả
    SELECT TOP 1 @new_num = num, @template = tmpl FROM @output_table;

    -- Format: PO-2025-00001
    SET @result = REPLACE(@template,  '{YYYY}',   CAST(@cur_year AS VARCHAR));
    SET @result = REPLACE(@result,    '{PREFIX}',  @prefix);
    SET @result = REPLACE(@result,    '{NNNNN}',   RIGHT('00000'  + CAST(@new_num AS VARCHAR), 5));
    SET @result = REPLACE(@result,    '{NNNNNN}',  RIGHT('000000' + CAST(@new_num AS VARCHAR), 6));
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_nxt_report]    Script Date: 3/21/2026 4:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- SECTION 20: STORED PROCEDURES — Báo cáo
-- ============================================================

-- Báo cáo NXT (Nhập Xuất Tồn) chuẩn kế toán
CREATE   PROCEDURE [dbo].[sp_nxt_report]
    @warehouse_id UNIQUEIDENTIFIER,
    @from_date    DATE,
    @to_date      DATE
AS
BEGIN
    SET NOCOUNT ON;

    WITH movements AS (
        SELECT
            st.product_id,
            SUM(CASE WHEN st.txn_at < @from_date AND st.qty_change > 0 THEN st.qty_change        ELSE 0 END) AS dk_in_qty,
            SUM(CASE WHEN st.txn_at < @from_date AND st.qty_change > 0 THEN st.qty_change * st.unit_cost ELSE 0 END) AS dk_in_val,
            SUM(CASE WHEN st.txn_at < @from_date AND st.qty_change < 0 THEN ABS(st.qty_change)   ELSE 0 END) AS dk_out_qty,
            SUM(CASE WHEN st.txn_at < @from_date AND st.qty_change < 0 THEN ABS(st.qty_change) * st.unit_cost ELSE 0 END) AS dk_out_val,
            SUM(CASE WHEN st.txn_at >= @from_date AND st.txn_at <= @to_date AND st.qty_change > 0 THEN st.qty_change ELSE 0 END) AS in_qty,
            SUM(CASE WHEN st.txn_at >= @from_date AND st.txn_at <= @to_date AND st.qty_change > 0 THEN st.qty_change * st.unit_cost ELSE 0 END) AS in_val,
            SUM(CASE WHEN st.txn_at >= @from_date AND st.txn_at <= @to_date AND st.qty_change < 0 THEN ABS(st.qty_change) ELSE 0 END) AS out_qty,
            SUM(CASE WHEN st.txn_at >= @from_date AND st.txn_at <= @to_date AND st.qty_change < 0 THEN ABS(st.qty_change) * st.unit_cost ELSE 0 END) AS out_val
        FROM stock_transactions st
        WHERE st.warehouse_id = @warehouse_id
        GROUP BY st.product_id
    )
    SELECT
        p.sku,
        p.product_name,
        u.uom_code,
        m.dk_in_qty - m.dk_out_qty                              AS ton_dau_ky_qty,
        m.dk_in_val - m.dk_out_val                              AS ton_dau_ky_val,
        m.in_qty,
        m.in_val,
        m.out_qty,
        m.out_val,
        (m.dk_in_qty - m.dk_out_qty + m.in_qty - m.out_qty)    AS ton_cuoi_ky_qty,
        (m.dk_in_val - m.dk_out_val + m.in_val - m.out_val)    AS ton_cuoi_ky_val
    FROM movements m
    JOIN products p ON p.id = m.product_id
    LEFT JOIN units_of_measure u ON u.id = p.uom_id
    ORDER BY p.product_name;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bảng người dùng thống nhất — thay thế 4 bảng riêng lẻ trong ERD gốc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'users'
GO
USE [master]
GO
